# Keep repo-meta files out of the packaged addon zip (git archive export-ignore).
/.github        export-ignore
/.gitignore     export-ignore
/.gitattributes export-ignore
/.pkgmeta        export-ignore
/thumbsup.png    export-ignore
